body {
  background-color: #e6f1fd;
}

.nav-link:hover {
  background-color: #0d2e49 !important;
  border-radius: 5px;
}

#nav a.active {
  background-color: #ffffff !important;
  color: #0d2e49 !important;
  border-radius: 5px;
}

button {
  background-color: #13395c !important;
  color: #ffffff !important;
  border-color: #13395c !important;
}
